/* UberMenu - Copyright 2011-2016, SevenSpark */
.ubermenu-skin-sc-light {
  font-size: 1rem;
  color: #1e1e1e;
}
.ubermenu-skin-sc-light .ubermenu-target {
  color: #1e1e1e;
}
.ubermenu-skin-sc-light .ubermenu-target-description {
  color: #aaa;
}
.ubermenu-skin-sc-light.ubermenu-responsive-toggle {
  background: #f7f7f7;
  color: #1e1e1e;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 600;
}
.ubermenu-skin-sc-light.ubermenu-responsive-toggle:hover {
  background: #f7f7f7;
  color: #ff4672;
}
.ubermenu-skin-sc-light {
  border: none;
  background: #f7f7f7;
}
.ubermenu-skin-sc-light .ubermenu-item-level-0.ubermenu-current-menu-item > .ubermenu-target,
.ubermenu-skin-sc-light .ubermenu-item-level-0.ubermenu-current-menu-parent > .ubermenu-target,
.ubermenu-skin-sc-light .ubermenu-item-level-0.ubermenu-current-menu-ancestor > .ubermenu-target {
  color: #ff4672;
  background: transparent;
}
.ubermenu-skin-sc-light .ubermenu-item.ubermenu-item-level-0 > .ubermenu-highlight {
  color: #4d90fe;
  background: transparent;
}
.ubermenu-skin-sc-light.ubermenu-vertical .ubermenu-item-level-0 > .ubermenu-target {
  background: #f7f7f7;
}
.ubermenu-skin-sc-light .ubermenu-item-level-0 > .ubermenu-target {
  font-weight: 600;
  color: #1e1e1e;
  text-transform: uppercase;
  border-left: none;
}
body:not(.rtl) .ubermenu-skin-sc-light.ubermenu-horizontal .ubermenu-item-level-0:first-child > .ubermenu-target {
  box-shadow: none;
}
.ubermenu-skin-sc-light .ubermenu-item-level-0:hover > .ubermenu-target,
.ubermenu-skin-sc-light .ubermenu-item-level-0.ubermenu-active > .ubermenu-target {
  background: transparent;
  color: #ff4672;
}
.ubermenu-skin-sc-light .ubermenu-item-level-0 > .ubermenu-submenu-type-stack > .ubermenu-item > .ubermenu-target {
  color: #1e1e1e;
}
.ubermenu-skin-sc-light .ubermenu-item-level-0 > .ubermenu-submenu-type-stack > .ubermenu-item > .ubermenu-target:hover {
  color: #ff4672;
}
.ubermenu-skin-sc-light .ubermenu-submenu.ubermenu-submenu-drop {
  background: #f7f7f7;
  border: none;
}
.ubermenu-skin-sc-light.ubermenu-horizontal .ubermenu-item-level-0 > .ubermenu-submenu-drop {
  border-top: none;
}
.ubermenu-skin-sc-light .ubermenu-tab-content-panel {
  background: #f7f7f7;
}
.ubermenu-skin-sc-light .ubermenu-submenu,
.ubermenu-skin-sc-light .ubermenu-submenu .ubermenu-target {
  color: #1e1e1e;
}
.ubermenu-skin-sc-light .ubermenu-submenu .ubermenu-highlight {
  color: #4d90fe;
}
.ubermenu-skin-sc-light .ubermenu-submenu .ubermenu-target:hover,
.ubermenu-skin-sc-light .ubermenu-submenu .ubermenu-active > .ubermenu-target {
  color: #ff4672;
}
.ubermenu-skin-sc-light .ubermenu-submenu .ubermenu-target > .ubermenu-target-description {
  color: #aaa;
}
.ubermenu-skin-sc-light .ubermenu-submenu .ubermenu-active > .ubermenu-target > .ubermenu-target-description {
  color: #666;
}
.ubermenu-skin-sc-light .ubermenu-submenu .ubermenu-item-header > .ubermenu-target {
  font-weight: 600;
  color: #1e1e1e;
}
.ubermenu-skin-sc-light .ubermenu-submenu .ubermenu-item-header.ubermenu-has-submenu-stack > .ubermenu-target {
  border-bottom: 1px solid #e9e9e9;
}
.ubermenu-skin-sc-light .ubermenu-submenu .ubermenu-item-header > .ubermenu-target:hover {
  color: #ff4672;
}
.ubermenu-skin-sc-light .ubermenu-submenu .ubermenu-current-menu-item > .ubermenu-target {
  color: #222;
  background: transparent;
}
.ubermenu-nojs.ubermenu-skin-sc-light .ubermenu-submenu .ubermenu-tabs .ubermenu-tab:hover > .ubermenu-target,
.ubermenu-skin-sc-light .ubermenu-submenu .ubermenu-tab.ubermenu-active > .ubermenu-target {
  background: #eee;
  color: #111;
}
.ubermenu-skin-sc-light .ubermenu-tabs-group,
.ubermenu-skin-sc-light .ubermenu-tab > .ubermenu-target,
.ubermenu-skin-sc-light .ubermenu-tab-content-panel {
  border-color: #eee;
}
.ubermenu-skin-sc-light .ubermenu-submenu-drop {
  border-bottom-width: 3px;
}
.ubermenu-skin-sc-light.ubermenu-transition-fade .ubermenu-item .ubermenu-submenu-drop {
  margin-top: 0;
}
/*************************/
.ubermenu .ubermenu-item-notext > .ubermenu-icon.fa-search {
  line-height: 1;
  font-size: 22px;
}
.ubermenu .ubermenu-submenu .ubermenu-search .ubermenu-searchform {
  background: #f7f7f7;
}
.ubermenu .ubermenu-search .ubermenu-searchform {
  width: 100%;
  margin: 0;
}
.ubermenu .ubermenu-search input.ubermenu-search-input {
  padding: 14px 50px 14px 25px;
}
.sc-menu-search-top-mobile,
.sc-menu-search-row {
  margin-bottom: -10px;
  margin-left: auto;
  padding-right: 40px !important;
  padding-left: 377px !important;
  width: 100%;
}
.sc-menu-search-top-mobile {
  background-color: #f0f0f0;
  padding-left: 126px !important;
  padding-right: 20px !important;
  margin-bottom: 0;
}
.ubermenu-submenu-type-flyout .sc-menu-search-row {
  margin-bottom: 0;
}
.sc-megamenu-header-row {
  background-color: #dddddd;
  padding-left: 40px !important;
  padding-right: 40px !important;
}
.sc-megamenu-header {
  font-size: 1.25rem;
  font-weight: bold;
}
a.sc-megamenu-header-link {
  font-weight: 600;
  color: #1e1e1e;
  text-align: right;
}
a.sc-megamenu-header-link:hover {
  text-decoration: none;
  color: #ff4672;
}
nav.ubermenu-main-header-menu,
a.ubermenu-responsive-toggle-main-header-menu {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.ubermenu-skin-sc-light .ubermenu-submenu .ubermenu-target {
  font-weight: 600;
}
/*
.ubermenu .ubermenu-submenu .ubermenu-search input.ubermenu-search-input {
	background-color: #f0f0f0;
}
*/
.ubermenu .ubermenu-retractor-desktop {
  display: none;
}
ul.ubermenu-submenu-type-flyout li.ubermenu-retractor.ubermenu-retractor-desktop {
  display: none;
}
@media only screen and (max-width: 1199px) {
  .sc-menu-search-row {
    padding-left: 200px !important;
  }
}
@media only screen and (max-width: 991px) {
  .ubermenu-main-header-menu .ubermenu-item-level-0 > .ubermenu-target,
  .ubermenu-main-header-menu .ubermenu-item-level-0 > .ubermenu-custom-content.ubermenu-custom-content-padded {
    padding-top: 15px !important;
    padding-bottom: 15px !important;
  }
  .ubermenu .ubermenu-retractor-desktop {
    display: inline-block;
  }
  .ubermenu .ubermenu-row {
    margin-bottom: 0;
  }
}
@media only screen and (max-width: 767px) {
  a.sc-megamenu-header-link {
    margin-top: 15px;
    text-align: left;
  }
}